<div class="container-fluid">
<div class="row">
<div class="col-12">
  <h1>{{title}}</h1>
     <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-primary">
        <input type="radio" name="options" id="option2" autocomplete="off" checked routerLink="/asignaturas"> ASIGNATURAS
      </label>
      <label class="btn btn-primary active">
        <input type="radio" name="options" id="option1" autocomplete="off" routerLink="/preguntas"> PREGUNTAS
      </label>      
    </div>
     <router-outlet></router-outlet>
</div>
</div>
</div>